body{
    background-color: #A8FFE033
}
h1{
    position: absolute;
width: 569px;
height: 162px;
left: 1000px;
top: 29px;

font-family: 'Trocchi';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 73px;

color: #025F00;


}
h2{
    position: absolute;
width: 537px;
height: 48px;
left: 0px;
top: 280px;

font-family: 'Trocchi';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 42px;

color: #000000;

}
.symbols{
    position: absolute;
width: 400px;
height: 400px;
left: 1850px;
top: 0px;
}
.scince{
    position: absolute;
width: 457px;
height: 280px;
left: 150px;
top: 0px;
border-radius: 140px;
}
.rectangle1{
    position: absolute;
width: 360px;
height: 38px;
left: 3px;
top: 400.65px;

background: rgba(62, 190, 159, 0.5);
transform: rotate(-0.48deg);
}
.rectangle11{
    position: absolute;
width: 407px;
height: 38px;
left: 3px;
top: 365px;

font-family: 'Trocchi';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;

color: #FF002E;
}
.rectangle2{
    position: absolute;
width: 380.94px;
height: 38px;
left: 0px;
top: 455.5px;

background: rgba(62, 190, 159, 0.5);
transform: rotate(-0.48deg);
}
.rectangle22{
    position: absolute;
width: 429px;
height: 42px;
left: 0px;
top: 420px;

font-family: 'Trocchi';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;
color: #FF0000;
}
.rectangle3{
    position: absolute;
width: 405.6px;
height: 38px;
left: -19px;
top: 512.43px;

background: rgba(62, 190, 159, 0.5);
transform: rotate(-0.48deg);
}
.rectangle33{
    position: absolute;
width: 387px;
height: 42px;
left: 0px;
top: 477px;

font-family: 'Trocchi';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;
color: #FF0000;
}
.source3{
    position: absolute;
width: 790px;
height: 432px;
left: 0px;
top: 750px;

border-radius: 216px;
}
.begin1{
    position: absolute;
width: 568px;
height: 91px;
left: 1850px;
top: 650px;

font-family: 'Trocchi';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 47px;

color: #000000;
}
.rectangle_begin{
    box-sizing: border-box;

position: absolute;
width: 289px;
height: 110px;
left: 1930px;
top: 750px;

background: #B7FFE1;
border: 1px solid #000000;

text-decoration: none;
font-weight: bold;
font-size: medium;
}
.rectangle_begin_2{
    position: absolute;
width: 228px;
height: 1px;
left: 1965px;
top: 746px;

font-family: 'Trocchi';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 47px;

color: #8CB712;
}

.star{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 500px;
    height: 500px;
    background: #fff;
    opacity: 1;
    clip-path: polygon(50% 0%, 61% 35%,  98% 35%, 68% 57%,79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 38% 35%);
    animation: star 3s infinite;
    transform: rotate(45deg);
}
.star2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    background: #fff;
    opacity: 1;
    clip-path: polygon(50% 0%, 61% 35%,  98% 35%, 68% 57%,79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 38% 35%);
    animation: star 3s infinite;
    transform: rotate(45deg);
}
@keyframes star {
    0% {
        transform: rotate(45deg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        transform: rotate(-135deg);
        opacity: 0;
    }
}
@keyframes star2 {
    0% {
        transform: rotate(45deg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        transform: rotate(-135deg);
        opacity: 0;
    }
} 
#btn_otdel{
    box-sizing: border-box;

position: absolute;
width: 289px;
height: 110px;
left: 1930px;
top: 750px;

background: #B7FFE1;
border: 1px solid #000000;

text-decoration: none;
font-weight: bold;
font-size: medium;
}